* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
}
#taskList {
  list-style: none;
  padding: 0;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  padding: 5px;
  background: #f4f4f4;
  border-radius: 5px;
  border: 1px solid #ddd;
}
input {
  padding: 0.5rem 2rem 0.6rem 0;
  width: 50%;
}
.btn {
  background-color: rgb(52, 118, 241);
  padding: 0.5rem 2rem 0.6rem 2rem;
  font-weight: bold;
}
.input-container {
  position: sticky;
  top: 2px;
}
button {
  color: white;

  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.container {
  position: relative;
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  background-color: #f4f4f4;
  height: 50vh;
  border-radius: 5px;
  overflow-y: scroll;
}

.remove-icon {
  width: 20px;
  height: 18px;
  background: transparent;
}
